@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-image: linear-gradient(To bottom,rgb(108, 108, 245),rgba(34, 34, 255, 0.678));
}
main{
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #0b080cd2;
    width:600%;
    padding:10px;
    margin:auto;
}
h1{
    color: #593954;
    text-align: center;
    text-shadow: 1px 1px 1px rgba(209, 155, 155, 0.767);
}
h2{
   color:#013440 
}
    p{
        text-align: justify;
    }

